@font-face {
  font-family: 'RobotoMono';
  src:url(../../fonts/Roboto/Roboto-Thin.ttf);
}

*{ 
  font-family:'Roboto' , monospace;
}

body { 
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background: radial-gradient(gray,rgb(69, 66, 66), rgb(26, 25, 25));
 }